<div class="row no-gutter">
      <div class="col-md-12" style="padding-top:13px;">
          <div class="row no-gutter">
               <label for="inputNameInsert" class="col-md-1 col-form-label text-success text-right" >Name</label>
               <div class="col-md-5">
                   <input type="text" class="form-control" id="inputNameInsert">
               </div>
               <label for="inputEmailInsert" class="col-md-1 col-form-label text-success text-right" >Email</label>
               <div class="col-md-5">
                   <input type="text" class="form-control" id="inputEmailInsert">
               </div>
          </div>
          <div class="row no-gutter">
             <label for="cmbGenderInsert" class="col-md-1 col-form-label text-success text-right">Gender</label>
             <div class="col-md-5">
                <select class="form-control"  id="cmbGenderInsert">
                   <option selected="selected" value="">--Please Choose--</option>
                   <option value="Male">Male</option>
                   <option value="Female">Female</option>
                </select>
             </div>
              <label for="cmbClassInsert" class="col-md-1 col-form-label text-success text-right">Class</label>
             <div class="col-md-5">
                <select class="form-control"  id="cmbClassInsert">
                   <option selected="selected" value="">--Please Choose--</option>
                   <option value="Class 1">1</option>
                   <option value="Class 2">2</option>
                    <option value="Class 3">3</option>
                </select>
             </div>
          </div>
      </div>
</div>